<!DOCTYPE html>
<html>
  <head>
    <title>ChatNow</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <!-- <h1 align="right"><%#= link_to('Logout', destroy_user_session_path, method: :delete) %></h1> --> 
    <%=yield %>  
    <%= render "layouts/footer" %>
  </div>
  </body>
</html>
